.container2 {
    display: inline-block;
    padding: 32px;
    width: 100%;
    margin-right: 32px;
    margin-bottom: 32px;

    background-color: white;
    border-radius: 16px;
    box-shadow: 0 3rem 3rem -1.25rem rgba(10,10,10,.1);

    .title {
        font-weight: 800;
        display: block;
        margin-top: 1px;
        margin-bottom: 16px;
    }
    
    p {
        margin-bottom: 6px;
    }

    .subtitle {
        border-bottom: 1px solid black;
        margin-bottom: 16px;
        padding-bottom: 16px;
        display: inline-block;
    }

    hr {
        background-color: black;
        height: 1px;;
    }
}