/* You can add global styles to this file, and also import other style files */
@import '~bulma/bulma.sass';

body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 64px;
    padding-bottom: 64px;
    background-color: #f9f9f9;
}